{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="row">
    <h2 class="profil__title">Profil</h2>
    <p class="hello">Bonjour {{ client.firstname }}  {{ client.lastname }}</p>
    <div class="profil__button-container">
        <a href="{{ path('app_index_profil_edit') }}" class="adm-button">Modifier mon profil</a>
        <a href="{{ path('app_index_booking_offer') }}" class="adm-button">Accèder à mes demandes</a>
    </div>
    <div class="profil__container">
        <p class="profilInfo__container"><span>Prénom: </span>{{ client.firstname }}</p>
        <p class="profilInfo__container"><span>Nom: </span>{{ client.lastname }}</p>
        <p class="profilInfo__container"><span>Ville: </span>{{ client.city }}</p>
        <p class="profilInfo__container"><span>Pays: </span>{{ client.country }}</p>
        <p class="profilInfo__container"><span>Numéro de téléphone: </span>{{ client.phoneNumber }}</p>
        <p class="profilInfo__container"><span>Email: </span>{{ client.email }}</p>
    </div>
</div>
{% endblock %}
