{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="profil__index-container">
    <h2 class="profil__title">profil</h2>
    <p class="hello">Bonjour {{ client.firstname }} {{ client.lastname|capitalize }}</p>
    
    <div class="choose__page-container">
        <a class="adm-button" href="{{ path('app_index_profil_edit') }}">Modifier mon profil</a>
        <a class="adm-button" href="{{ path('app_index_booking_offer') }}">Accèder à mes demandes</a>
    </div>

    <div class="display__profil-container">
        <div class="info__container">
            <p><span class="info__label">civilité </span>
                {% if client.gender == "M" %}
                    Monsieur
                {% else %}
                    Madame
                {% endif %}
            </p>
            <p><span class="info__label">nom </span> {{ client.lastname }}</p>
            <p><span class="info__label">prénom </span> {{ client.firstname }}</p>
            <p><span class="info__label">ville </span> {{ client.city }}</p>
            <p><span class="info__label">code postal </span> {{ client.zipcode }}</p>
            <p><span class="info__label">pays </span> {{ client.country }}</p>
            <p><span class="info__label">date de naissance </span> {{ client.bornDate|date('d/m/y') }}</p>
            <p><span class="info__label">email </span> {{ client.email }}</p>
        </div>
    </div>
    {#{{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}
    <button class="btn btn-lg btn-primary" type="submit">
        Sign up
    </button>
    {{ form_end(profilForm) }}

    {{ form_start(pictureForm) }}
    <div class="file-field input-field">
        <div class="btn">
            <span>{{ pictureForm.profilePicture.vars.label }}</span>
            {{ form_widget(pictureForm.profilePicture) }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Enregistrer</button>
    {{ form_end(pictureForm) }}#}
</div>
{% endblock %}
