<ul class="header__container-list">
    <li><a href="{{ path('app_index') }}"><img src="{{ asset('logo-ex-7.png') }}" alt="" height="70px"></a></li>
    <div class="nav__link">
        <li ><a href="{{ path('app_index_contact') }}" class="header__list-item">Contact</a></li>
        <li ><a href="{{ path('app_index_search') }}" class="header__list-item">Voir toutes les offres</a></li>
        {% if app.user is not null and is_granted('ROLE_CLIENT') %}
            <li><a href="{{ path('app_index_booking_offer') }}" class="header__list-item">Réservation</a></li>
            <li><a href="{{ path('app_index_profil_index') }}" class="header__list-item">Profil</a></li>
            <a href="/logout" class="header__list-item">Déconnexion</a></li>
        {% else %}
            <a href="{{ path('app_login') }}" class="header__list-item">Connexion</a></li>
        {% endif %}
    </div>
</ul>
