{% extends 'base.html.twig' %}

{% block body %}
   {# {% if app.user is  null %}
        <div class="overlay">
            <div class="log__container">
                <div class="sign-up">

                </div>
                <div class="sign-in">
                    <form method="post" action="{{ path('app_login') }}">

                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" value="alexandrevagniar1@gmail.com" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">

                        <input type="hidden" name="_csrf_token" value="ZYKAflyjGwGp1PQs6ltJW9VFz1UIPOJfY0TgTWnC1y8">
                        <input type="hidden" name="_target_path" value="{{ path('app_index_detail_offer', {'offer': offer.id}) }}" />

                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}#}

    <div class="offer__coverCity">
        <h3 class="coverCity__title">{{ offer.city }}</h3>
    </div>

    <div class="offer__container row">
        <a href="{{ path('app_index_search') }}" class="back-arrow-offer"><img src="{{ asset('left-arrow.svg') }}" alt="" width="20px"></a>
        <div class="offer-item__image" style="background-image: url('{{ offer.image.path }}')"></div>
        <div class="offer-info__container">
            <h3>{{ offer.title }}</h3>
            <div class="available_date">
                {{ form_start(form) }}
                <div class="info-render">
                    <span class="info-render__label">date</span>
                    <div class="info-render__form">
                        {{ form_widget(form.intervalDate) }}
                        {{ form_widget(form.description) }}
                    </div>
                </div>

                <div class="info-render">
                    <span class="info-render__label">capacité</span>
                    <span class="cpacity-display">{{ offer.travelerNumbers }}</span>
                </div>

                <div class="info-render">
                    <span class="info-render__label">prix à la personne</span>
                    <span class="cpacity-display">{{ offer.travelerNumbers }}€</span>
                </div>

                <button type="submit" class="offer_submit">Réservation</button>
                {{ form_end(form) }}
            </div>
            <div class="info-render-description">
                <h4 class="info-description__title">description</h4>
                {{ offer.description|raw }}
            </div>
        </div>
    </div>

    <div class="associate__container row">
        <h3>Découvrir</h3>
        <p>Endroit qui pourrait vous plaire</p>
        <div class="booking-enable__container">
            <div class="last-offer__container">
                {% for offer in offers %}
                    <a href="{{ path('app_index_detail_offer', { 'offer' : offer.id }) }}">
                        <div class="offer-item">
                            <img src="{{ offer.image.path }}" alt="">
                            <p>{{ offer.city }}, {{ offer.location }}</p>
                            <span>A partir de {{ offer.costByTraveler * offer.travelerNumbers }} €</span>
                        </div>
                    </a>

                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    <script type="application/javascript">
        var $picker = $('#select_date_intervalDate');

        function dateToYMD(date) {
            var d = date.getDate();
            var m = date.getMonth() + 1; //Month from 0 to 11
            var y = date.getFullYear();
            return '' + y + '-' + (m<=9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
        }

        $.ajax({
            type: "POST",
            url : "{{ path('app_search_result', {'offer' : offer.id}) }}",
            success: function (response) {
                var dates = response.dates;
                $picker.datepicker({
                    language: 'fr',
                    onRenderCell: function (date, cellType) {
                        console.log(dates)
                        var formatted = dateToYMD(date);
                        console.log(dates.indexOf(formatted));
                        if (cellType == 'day') {
                            console.log(formatted)
                            var day = date.getDay(),
                                isDisabled = dates.indexOf(formatted) === -1;

                            return {
                                disabled: isDisabled
                            }
                        }
                    }
                })
/*                $('#test-date').datepicker({
                    language: 'fr',
                    onRenderCell: function (date, cellType) {
                        dates.forEach(function (currentDate) {
                            console.log(dates)
                            startDate = new Date(currentDate.startDate.date);
                            endDate = new Date(currentDate.endDate.date);

                            if (startDate <= date && date <= endDate) {
                            }
                            else {
                                console.log(date)
                                hasDisable.push(date)
                            }
                        })

                        var day = date,
                        isDisabled = hasDisable.indexOf(day) != -1;
        console.log(isDisabled)

                        return {
                            disabled: isDisabled
                        }

                        /!*if (cellType == 'day') {
                            var day = date.getDay(),
                                isDisabled = disabledDays.indexOf(day) != -1;
                            return {
                                disabled: isDisabled
                            }
                        }*!/
                    }
                })*/
                $picker.data('datepicker')
            }

        });
    </script>
{% endblock %}
