{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <div id="search">
            {{ include('includes/searchForm.html.twig',
                {
                    'form' : form
                })
            }}
        </div>
    </div>

    <div id="offer-result">
        <div class="offer__container">
            {% for offer in offers %}
                <a href="{{ path('app_index_detail_offer', {'offer' : offer.id}) }}">
                    <div class="offer__item">
                        <div class="offer__item-info">
                            <h3>{{ offer.title }}</h3>
                            <p>{{ offer.location }}, {{ offer.city }} {{ offer.country }}</p>
                            <span>{{ offer.costByTraveler }}/€</span>
                        </div>
                    </div>
                </a>
            {% else %}
                <p>Malheureusement aucun lieux ne correspond à votre recherche</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
