{% extends 'base.html.twig' %}

{% block header %}
    <header class="header__container">
        {{ include('templates/header.html.twig') }}

        <div class="secondary-cover__container">
            <div class="tipical-place__container">
                <h2>Découverer des lieux atypiques dans toutes la france</h2>
                <p>
                    Avec Aty'place l'accès vous aller pour découvrir des lieux exceptionelle dans toutes la france. <br>
                    Sur notre site vous pouvez trouver des locations de particulier à particulier mais également profité du patrimoine français
                </p>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <div class="place__container">
        <div class="place-item">
            <img src="{{ asset('foret.png') }}" alt="image de foret" class="place-item__img">
            <div class="place__content-container">
                <h4 class="place-item__title">Des Endroits Hors Du Commun</h4>
                <button class="btn"><a href="{{ path('app_index_search') }}">Découvrir</a></button>
            </div>
        </div>
        <div class="pink__container"></div>
        <div class="place-item second">
            <img src="{{ asset('foret.png') }}" alt="image de foret" class="place-item__img">
            <div class="place__content-container">
                <h4 class="place-item__title">Decouvrez les plus belles endroits cachés</h4>
                <button class="btn"><a href="{{ path('app_index_search') }}">Découvrir</a></button>
                <p class="place-item__text">Nous avons parcouru toute la france afin de trouver lees plus belles endroits </p>
            </div>
        </div>
    </div>

    <div class="booking-enable__container">
        <h2 class="booking-enable__title">Dernière Locations Disponibles</h2>
        <div class="last-offer__container">
            {% for offer in offers %}
                <a href="{{ path('app_index_detail_offer', { 'offer' : offer.id }) }}">
                    <div class="offer-item">
                        <img src="{{ offer.image.path }}" alt="">
                        <p>{{ offer.city }}, {{ offer.location }}</p>
                        <span>A partir de {{ offer.costByTraveler * offer.travelerNumbers }} €</span>
                    </div>
                </a>

            {% endfor %}
        </div>
    </div>
{% endblock %}
