{% extends 'base.html.twig' %}

{% block body %}
<div class="search-cover__container">
    <h2 class="search-cover__title">RESERVATION</h2>
</div>
<div class="row">
    <div id="search">
        {{ include('includes/searchForm.html.twig',
            {
                'form' : form
            })
        }}
    </div>
    <div id="offer-result">
        <div class="offer-filter__container">
            <span class="filter-by">filtré par</span>
            <div class="filter__container">
                <h4>Prix</h4>
                <form action="#" id="filter-price">
                    <input type="range" min="{{ price.min }}" max="{{ price.max }}">
                </form>
            </div>
            {% if useCities|length > 0 %}
                <div class="filter__container">
                    <h4>Région</h4>
                    <hr class="filter-line">
                    <ul class="filter-list__container region">
                        <form action="#" method="post" id="filter-region">
                            {% for city,count in useCities %}
                                <li class="filter__item"><span>{{ city }} ({{ count }})</span><label class="container"><input type="checkbox" value="{{ city }}"> <span class="checkmark"></span></label></li>
                            {% endfor %}
                        </form>
                    </ul>
                </div>
            {% endif %}

            <div class="filter__container">
                <h4>Capacité</h4>
                <hr class="filter-line">
                <ul class="filter-list__container capacity">
                    <form action="#" method="post" id="filter-capacity">
                        <li class="filter__item">50 et moins <label class="container"><input type="checkbox" value="50"> <span class="checkmark"></span></label></li>
                        <li class="filter__item">50 à 100 <label  class="container"><input type="checkbox" value="100"> <span class="checkmark"></span></label></li>
                        <li class="filter__item">100 et plus <label  class="container"><input type="checkbox" value="101"> <span class="checkmark"></span></label></li>
                    </form>
                </ul>
            </div>

            <span class="filter-clear">effacer</span>
        </div>
        <div class="offer__container">
            {% if offers is defined %}
                {{ include('includes/searchContent.html.twig', offers) }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        var $checkbox = $('.checkmark');
        $checkbox.on('click', function (event) {
            event.preventDefault()
            var checkbox = $($(this).parent()).find("input");

            if (checkbox.is(':checked')) {
                checkbox.attr('checked', false);
            }else {
                checkbox.attr('checked', true);
            }

            var $RegionCheck = $('.region input:checked');
            var $CapacityCheck = $('.capacity input:checked');

            var capacity = [];
            for (var i = 0; i < $CapacityCheck.length; i++) {
                capacity.push($CapacityCheck[i].value);
            }

            var region = [];
            for (var i = 0; i < $RegionCheck.length; i++) {
                region.push($RegionCheck[i].value);
            }

            $.ajax({
                type: "POST",
                url: "/offer-filter",
                data : {
                    'regions' : region,
                    'capacity' : capacity
                }
            })
                .done(function (datas) {
                    $('.offer__container').html(datas)
                })
            ;
        });

        $('.filter-clear').on('click', function (event) {
            var $checkboxs = $('input:checkbox');

            for (var i = 0; i < $checkboxs.length; i++) {
                $checkboxs.attr('checked', false);
            }


            $.ajax({
                type: "POST",
                url: "/offer-filter",
                data : {

                }
            })
                .done(function (datas) {
                    $('.offer__container').html(datas)
                })
            ;
        })

    </script>
{% endblock %}
