{% extends 'recipient/_base.html.twig' %}

{% block body %}
    {{ dump(requests) }}
    <div class="background-container"></div>
    <div class="separation"></div>
    <div class="demande__container">
        <h1 class="demande__container-title">Liste des demandes de location</h1>
        <div class="demande__container-list">
            <div class="collection">
                {% for request in requests %}
                        <div class="card white darken-1">
                            <a href="{{ path('recipient_request_view', {'request' : request.id}) }}">
                                <div class="card-content black-text">
                                    <span class="card-title">Demande de location du {{ request.startDate|date('d/m/y') }} au {{ request.endDate|date('d/m/y') }}</span>
                                    <p>{{ request.description|raw }}</p>
                                </div>
                            </a>
                            <div class="card-action">
                                <form action="{{ path('recipient_request_accept', {'request' : request.id}) }}" method="post">
                                    <input type="hidden" value="1">
                                    <input type="submit" class="btn" value="Accepter">
                                </form>
                                <form action="{{ path('recipient_request_refuse', {'request' : request.id}) }}" method="post">
                                    <input type="hidden" value="0">
                                </form>
                                <input type="submit" class="btn" value="Refuser">
                            </div>
                        </div>
                {% endfor %}
         {#       {% for event in request %}
                    {{ dump( event.clients ) }}
                    <a href="#!" class="collection-item">Demande de : </a>
                {% endfor %}#}
            </div>
        </div>

    </div>
{% endblock %}