<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('client') }}
        {% endblock %}
    </head>
    <body>
        <header class="header__container">
            <ul class="header__container-list">
                <li><a href="" class="header__list-item">A propos</a></li>
                <li><a href="" class="header__list-item">Réservation</a></li>
                <li ><a href="" class="header__list-item">Contact</a></li>
                <li ><a href="{{ path('app_login') }}" class="header__list-item">Connexion</a></li>
            </ul>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div class="social-media__container">
                <a href=""><img src="{{ asset('Vector.png') }}" alt=""></a>
                <a href=""><img src="{{ asset('facebook.png') }}" alt=""></a>
            </div>
            <hr class="white-line">
            <div class="legal__container">
                <h2>Ayt'Place</h2>
                <span>France</span>
            </div>
        </footer>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
        {% block javascripts %}

            {{ encore_entry_script_tags('client') }}

        {% endblock %}
    </body>
</html>
