{% extends 'base.html.twig' %}

{% block title %}Demande de réservation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="clientBo__title">Mes offres</h1>
    <div class="requests__container">
        {% for request in requests %}
            <div class="request-item__container">
                {% set offer =  request.availableOffer.offer%}
                <img src="{{ request.availableOffer.offer.image.path }}" alt="">
                <div class="content__offer-container">
                    <h4 class="info-description__title">Description</h4>
                    <h4>Demande de réservation</h4>
                    <p class="saler__container">Vendeur <b>{{ request.availableOffer.offer.recipient.firstname}} {{ request.availableOffer.offer.recipient.lastname|capitalize}}</b></p>
                    <span class="duration__container"> Du {{ request.startDate|date('d/m/y') }} au {{ request.endDate|date('d/m/y') }}</span>
                    <span class="day__container">{{ displayBookingDate(request) }} jours</span>
                    <p class="status__container"> Statut <span style="color: {% if request.status == 1 %}#d4252f{% endif %};">{{ request.status|statut(request.status)}}</span></p>
                    <a class="offer_submit" href="{{ path('app_index_booking_delete', {'request' : request.id}) }}">Annulation</a>
                </div>
            </div>
        {% else %}
            <p class="center">Aucune réservation en cours</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
