{% extends 'base.html.twig' %}

{% block title %}Demande de réservation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mes offres</h1>
    <div class="requests__container">
        {% for request in requests %}
            {% set request = request[0] %}
            <div class="request-item__container">
                {% set offer =  request.availableOffer.offer%}

                Titre : {{ offer.title }}
                Description: {{ request.description }}
                du : {{ request.startDate|date('d/m/y') }} au {{ request.endDate|date('d/m/y') }}
                Statut: {{ request.status|statut(request.status)}}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
