<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('recipient') }}
    {% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="{{ path('recipient_offer_index') }}" class="brand-logo">
            <img src="{{ asset('logo-ex-7.png') }}" alt="" class="header-logo">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-vertical-center">
            <li><a  class="black-text" href="{{ path('recipient_profil_home') }}">Profil</a></li>
            <li><a  class="black-text" href="{{ path('recipient_request_index') }}">Demandes</a></li>
            <li><a  class="black-text" href="{{ path('recipient_offer_index') }}">Offres</a></li>
            <li><a  class="black-text" href="/logout">Déconnexion</a></li>
        </ul>
    </div>
</nav>
<div class="wrapper">
    {% block body %}
    {% endblock %}
</div>

<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% block javascripts %}

{{ encore_entry_script_tags('recipient') }}

{% endblock %}
</body>
</html>
